<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorteio Código Fonte TV 2</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body class="main">
    <%= url %>
        <!-- Logo -->
        <a href="https://codft.me/cdftv"><img id="logo" src="assets/images/codigo-fonte-tv.png"
                alt="Código Fonte TV" /></a>

        <!-- Mensagem -->
        <div id="message" class="message"></div>

        <!-- Scripts -->
        <script src="js/config.js"></script>
        <script>
            let url = ejs.render(<%= url %>);;
            WS_URL = "ws://" + url + ":3000";
        </script>
        <script src="js/client.js"></script>

</body>

</html>